.table > thead > tr > th {
  vertical-align: middle;
  font-size: 15px;
}

.margin-bottom-basic {
  margin-bottom: 15px;
}

.items-per-page {
  margin-left: 15px;
}

.sortable:after {
  font: 14px/1 FontAwesome;
  content: "\f0dc";
}

.sortable.sort-ascent:after {
  content: '\f0de';
  vertical-align: bottom;
}

.sortable.sort-descent:after {
  content: "\f0dd";
  vertical-align: top;
}

.export_button{
  alignment: center;
}

.pagination_container{
  color: #034F53;
}

input[placeholder=min]:focus,
input[placeholder=max]:focus,
#sex:focus,
#tissue_type:focus,
#storage:focus,
#neuropathological_diagnosis:focus,
#clinical_diagnosis:focus{
  border-color: #034F53;
  box-shadow: 0 0 8px rgba(3, 79, 83, 1);
}

#select_page.option:focus,
.pagination > li.active > a{
  border-color: #034F53;
  background: #034F53;
}

.pagination > li > a {
  color: #034F53
}

.data_table{
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
