.single_record_container{
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.thumbnail img {
  height: 200px;
  width: 300px;

}

.image_caption{
  padding-top: 1vh;
  text-align: left;
}

.detailed_data_header{
  font-size: 18px;
  color: #034F53;
}

.thumbnail{
  border: none;
}

.zoom {
  transition: transform .2s ease-in-out;
}

.zoom:hover img{
  position: relative;
  top: -5px;
  left: 10px;
  margin-bottom: 25px;
  margin-top: 25px;
  transform: scale(1.2); /* 120% zoom*/
}

#edit_btn, #delete_btn{
  background: #034F53;
  border-color: #034F53;
}

#edit_btn:hover,
#delete_btn:hover{
  border-color: #034F53;
  box-shadow: 0 0 8px rgba(3, 79, 83, 1);
  background: white;
  color: #034F53;
}
