<p>Hello <%= recipient_name %>,</p>

<p>We appreciate your interest for requesting a new account at MBTB Dataset. However, we can't proceed further with your current information.
    Please try again with a bit more information.</p>

<p>Thank you.</p><br>
<p>Sincerely,</p>
<p>MBTB Team</p>
