<p>Hello <%= recipient_name %>,</p>

<p>Cheers! We have approved your account request for MBTB dataset. You may start exploring it with temporary password given below.</p>
<p>Password: <%= password %></p>

<p>Thank you.</p><br>
<p>Sincerely,</p>
<p>MBTB Team</p>
