<title>Admin - Data Uploading Guide</title>
<div class="container-fluid data_guide_container">
    <h2 class="heading_title">Data Uploading Guide</h2>
    <br>

    <div class="data_guide_content">
        <strong>Last updated: January 11, 2020</strong>
        <br>
        <br>


        <ul>
            <p>
                <li>
                    One file can be uploaded at a time.
                </li>
            </p>
            <p>
                <li>
                    The maximum file limit for uploading is 500 MB.
                </li>
            </p>
            <p>
                <li>
                    Only 'CSV' file format is supported. Kindly follow this
                    <a href="https://support.office.com/en-us/article/Import-or-export-text-txt-or-csv-files-5250ac4c-663c-47ce-937b-339e391393ba">link</a>
                    for converting your file into the 'CSV' file.
                </li>
            </p>
            <p>
                <li>
                    Please make sure the input file matches column names in the given <a href="/files/sample_file.csv">sample file</a>.
                    Also, refer to this <a href="/files/data_upload_reference.xlsx">reference file</a> to know the data type and supported field values.
                </li>
            </p>
            <p>
                <li>
                    The following fields are mandatory: 'mbtb_code', 'sex', 'storage_year', 'formalin_fixed', 'fresh_frozen'. Other fields can be null.
                    <i>(<strong>Note:</strong> The following fields can be null: 'tissue_type', 'autopsy_type', 'neuropathology_diagnosis' but it is highly recommended to avoid it.)</i>
                </li>
            </p>

        </ul>
    </div>
</div>
