<title>FAQ</title>
<div class="container-fluid faq_container">
    <h2 class="heading_title">FAQ</h2>
    <h4>
        <ul>
            <li>
                <h4>
                    <a href="/admin_policy">Policy</a>
                </h4>
            </li>
            <li>
                <h4>
                    <a href="/admin_terms">Terms of use</a>
                </h4>
            </li>
        </ul>
    </h4>
</div>
