<title>Home</title>

<div class="container-fluid home_container">
    <div class="col-sm-8">
        <div class="row">
            <h2 class="heading_title">Overview</h2>
            <p>
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum
            </p>
            <p>
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum
            </p>
        </div>
        <div class="row">
            <h2 class="heading_title">Dataset Description</h2>
            <p>
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum
            </p>
            <p>
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum
            </p>
        </div>
    </div>

    <div class="col-sm-3 col-md-offset-1">
        <div class="row">
            <h2 class="heading_title">Links</h2>
            <div>
                <a href="http://braintissuebank.dal.ca/">Maritime Brain Tissue Bank</a>
            </div>
            <div>
                <a href="http://cbrain.ca/">CBRAIN</a>
            </div>
            <div>
                <a href="http://loris.ca/">LORIS</a>
            </div>
        </div>
        <div class="row">
            <h2 class="heading_title">Contact</h2>
            <h4 class="heading_title">Maritime Brain Tissue Bank</h4>
            <div>Faculty of Medicine</div>
            <div>Dalhousie University</div>
            <div>Halifax, Nova Scotia  B3H 4R2</div>
            <div>Phone: (902) 494-4130 </div>
        </div>
    </div>
</div>

<br><br>
