<title>Home</title>

<div class="container bg-grey">
    <div class="row">
        <div class="col-md-8">
            <div class="container-fluid">
                <h2 class="text-primary">Overview</h2>
                <h4 class="text-secondary">About Us</h4>
                <p>The Maritime Brain Tissue Bank is a vital resource for researchers around the world who are seeking
                    to understand
                    the causes and mechanisms of neurodegenerative and neurodevelopmental disease. </p>
                <p>Through carefully collecting and
                    cataloguing both diseased and normal brain and spinal cord tissues, the Maritime Brain Tissue Bank
                    is able to
                    provide researchers with the opportunity to study the cellular and molecular changes that take place
                    as disease
                    develops. This in turn sheds light on potential strategies for treating and preventing neurological
                    disease.
                </p>
                <br>

                <img src="Image_homepage.png" alt="photo on website" width=80% height=80% >
                <br>
                <br>
                <h4 class="text-secondary">Online Brain Bank</h4>
                <p>Research in human brain tissues is essential to understanding the nature and causes of
                    neurologic and psychiatric diseases.</p>
                <p>The online database provides access to the Maritime Brain Tissue Bank database. The online database aims to enable
                    researchers to
                    explore dataset.</p>
            </div>
            <h2 class="text-primary">Dataset description</h2>
            <br>
            <p>The dataset collects demographic information, neuropathological information, medical history, and
                Post-mortem interval. Each
                tissue is accompanied with high resolution brain images.
            </p>
            <h4 class="text-secondary">Autopsy Type</h4>
            <p>The tissue collection covers three autopsy type: brain, brain and spinal cord, and full body.
            </p>
            <h4 class="text-secondary">Availability</h4>
            <p> Tissues are available in two storage methods: formalin fixed, and fresh frozen.</p>
            <h4 class="text-secondary">Neuropathological diagnosis
            </h4>
            <p>The collection covers a wide range of brain and nervous system diseases</p>
            <p>The brain bank collects tissue from people suffer from: </p>
            <ul>
                <li>Alzheimer’s Disease</li>
                <li>Brain Tumour</li>
                <li>Down’s Syndrome</li>
                <li>Fahr’s Disease</li>
                <li>Familial Alzheimer's Disease</li>
                <li>Frontotemporal Dementia</li>
                <li>Huntington's Disease</li>
                <li>Lewy Body Disease</li>
                <li>Multiple Sclerosis</li>
                <li>Multiple System Atrophy</li>
                <li>Neural Storage Disorder</li>
                <li>Parkinson's Disease</li>
                <li>Progressive Supranuclear Palsy</li>
                <li>Vascular Dementia</li>
            </ul>
            <br>
            <br>
        </div>
        <div class="col-md-4">
            <h2>Related Links</h2>
            <a href="http://braintissuebank.dal.ca/">Visit Maritime Brain Tissue Bank website</a>
            <br>
            <a href="http://cbrain.ca/">CBRAIN</a>
            <br>
            <a href="http://loris.ca/">LORIS</a>
            <br>
            <h2>Contact</h2>
            <p>Maritime Brain Tissue Bank</p>
            <p>Faculty of Medicine</p>
            <p>Dalhousie University Halifax, Nova Scotia
                B3H 4R2</p>
            <p>Andrew Reid, manager</p>
            <p>Email: andrew.reid@dal.ca</p>
            <p>Phone: (902) 494-4130 </p>
        </div>
    </div>
</div>


<br><br>
