<title>Admin - Home</title>

<div class="container-fluid home_container">
    <div class="col-sm-8">
        <div class="row">
            <h2 class="heading_title">Overview</h2>
            <p>The Maritime Brain Tissue Bank is a vital resource for researchers around the world who are seeking
                to understand
                the causes and mechanisms of neurodegenerative and neurodevelopmental disease. </p>
            <p>Through carefully collecting and
                cataloguing both diseased and normal brain and spinal cord tissues, the Maritime Brain Tissue Bank
                is able to
                provide researchers with the opportunity to study the cellular and molecular changes that take place
                as disease
                develops. This in turn sheds light on potential strategies for treating and preventing neurological
                disease.
            </p>
            <br>

        </div>
        <div class="row">
            <h2 class="heading_title">Dataset Description</h2>
            <p>Research in human brain tissues is essential to understanding the nature and causes of
                neurologic and psychiatric diseases. The online database provides access to the Maritime Brain Tissue Bank dataset. It aims to enable
                researchers to explore dataset.
            </p>
            <p>
                The dataset collects demographic information, neuropathological information, medical history, and
                Post-mortem interval. Each
                tissue is accompanied with high resolution brain images.
            </p>
        </div>
    </div>

    <div class="col-sm-3 col-md-offset-1">
        <div class="row">
            <h2 class="heading_title">Links</h2>
            <div>
                <a href="http://braintissuebank.dal.ca/">Maritime Brain Tissue Bank</a>
            </div>
            <div>
                <a href="http://cbrain.ca/">CBRAIN</a>
            </div>
            <div>
                <a href="http://loris.ca/">LORIS</a>
            </div>
        </div>
        <div class="row">
            <h2 class="heading_title">Contact</h2>
            <h4 class="heading_title">Maritime Brain Tissue Bank</h4>
            <div>Faculty of Medicine</div>
            <div>Dalhousie University</div>
            <div>Halifax, Nova Scotia  B3H 4R2</div>
            <div>Phone: (902) 494-4130 </div>
        </div>
    </div>
</div>

<br><br>
