<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Policy</title>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="menu.css">
</head>
<body>

<div class="jumbotron text-center">
    <h1>Maritime Brain Tissue Bank Dataset</h1>
</div>

<div class="container-fluid">
    <h2>Data Policy</h2>

    <strong>Last updated: September 26, 2019</strong>
    <p>Use of any data in Maritime Brain Tissue Bank Database indicates your acceptances of our data policy.</p>


    <h3>You may</h3>
    <p>make full or partial copies of the dataset excluding images.</p>
    <p>publish, translate, distribute physical data excluding images provided you include citation to the dataset.</p>


    <h3>You may not</h3>
    <p>download, print, publish and distribute images in Maritime Brain Tissue Bank Database.</p>


    <h3>Changes</h3>
    <p>We reserve the right to change our data policy. You accept the policy by continuing using the website after we
        change
        the policy.</p>

    <strong>The data policy is effective on (Date). If you fail to comply with any of them, the rights granted under
        this policy
        will end automatically.</strong>
</div>


</body>
</html>