<title>Data Policy</title>
<div class="container-fluid policy_container">
    <h2 class="heading_title">Data Policy</h2>
    <br>

    <strong>Last updated: September 26, 2019</strong>
    <p>
        Use of any data in Maritime Brain Tissue Bank Database indicates your acceptances of our data policy.
    </p>

    <h3 class="heading_title">You may</h3>
    <ul>
        <li>Make full or partial copies of the dataset excluding images.</li>
        <li>Publish, translate, distribute physical data excluding images provided you include citation to the dataset.</li>
    </ul>

    <h3 class="heading_title">You may not</h3>
    <ul>
        <li>Download, print, publish and distribute images in Maritime Brain Tissue Bank Database.</li>
    </ul>

    <h3 class="heading_title">Changes</h3>
    <p>
        We reserve the right to change our data policy. You accept the policy by continuing using the website after we change the policy.
    </p>

    <strong>
        The data policy is effective on (Date). If you fail to comply with any of them,
        the rights granted under this policy will end automatically.
    </strong>
</div>
