<title>Home</title>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<div class="container">

  <div class="header_nav_wrapper ">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="page-header">
          <h1>Maritime Brain Tissue Bank Dataset</h1> <!-- heading -->
        </div>

        <div class="navbar-header">
          <a class="navbar-brand">MBTB</a>
        </div>

        <ul class="nav navbar-nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">Dataset</a></li>
          <li><a href="#">Analysis</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>

      </div>
    </nav>
  </div>

  <div class="container-fluid">
    <div class="col-sm-8">
      <div class="row">
        <h2 class="heading_title">Overview</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </p>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum
          </p>
      </div>
      <div class="row">
        <h2 class="heading_title">Dataset Description</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </p>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum
          </p>
      </div>
    </div>

    <div class="col-sm-3 col-md-offset-1">
      <div class="row">
        <h2 class="heading_title">Links</h2>
          <div>
            <a href="http://braintissuebank.dal.ca/">Maritime Brain Tissue Bank</a>
          </div>
          <div>
            <a href="http://cbrain.ca/">CBRAIN</a>
          </div>
          <div>
            <a href="http://loris.ca/">LORIS</a>
          </div>
        </div>
      <div class="row">
        <h2 class="heading_title">Contact</h2>
        <h4 class="heading_title">Maritime Brain Tissue Bank</h4>
        <div>Faculty of Medicine</div>
        <div>Dalhousie University</div>
        <div>Halifax, Nova Scotia  B3H 4R2</div>
        <div>Phone: (902) 494-4130 </div>
      </div>
    </div>
  </div>

  <br><br>

  <!-- Footer -->
  <footer class="page-footer font-small blue pt-4">
    <div class="footer-copyright text-center py-3">GPL-3.0 ©2019
      <div>
        Developed by <a href="http://braintissuebank.dal.ca/">MBTB</a>
      </div>
    </div>
  </footer>

</div>
