<title>Home</title>

<div class="container-fluid home_container">
  <div class="col-sm-8">
    <div class="row">
      <h2 class="heading_title">Overview</h2>
      <p>
        The Maritime Brain Tissue Bank is a vital resource for researchers around the world who are seeking to understand the causes and mechanisms of neurodegenerative diseases with the view to find cures.
      </p>
      <p>
        Through carefully collecting and cataloguing both diseased and normal brain and spinal cord tissues, the Maritime Brain Tissue Bank provides researchers the opportunity to study the cellular and molecular changes that take place as disease develops.
        This in turn sheds light on potential strategies for treating and preventing neurological disease.
      </p>
      <p>
        The brain tissue will be made available to researchers in not-for-profit organizations such as academic and other research institutions.
      </p>
      <p>
        The Maritime Brain Tissue collects and archives formalin fixed and fresh frozen tissue from a variety of neurodegenerative disease, including:
        <ul>
          <li>Alzheimer's Disease</li>
          <li>Normal controls</li>
          <li>Mixed Dementias</li>
          <li>Vascular Dementia</li>
          <li>Lewy Body Disease</li>
          <li>Progressive Supranuclear Palsy</li>
          <li>Parkinson's Disease</li>
          <li>Frontotemporal Dementia</li>
          <li>Huntington's Disease</li>
          <li>Multiple System Atrophy</li>
          <li>Amyotrophic Lateral Sclerosis</li>
        </ul>
      </p>
      <p>
        <i>
          The availability of tissues and/or regions is subject to change.
        </i>

        <div>
          <i>
            The MBTB does not knowingly distribute unknown infectious specimens. The MBTB, however, does not guarantee that any of the donors of specimens were not exposed to or infected by potentially transmissible infectious agents.
            Ultimately, it is the responsibility of the recipient investigator to ensure that all their laboratory staff practice safe techniques in handling specimens.
          </i>
        </div>
      </p>

      <br>
    </div>

    <div class="row">
      <h2 class="heading_title">Database Description</h2>
        <p>
          Research in human brain tissues is essential to understanding the nature and causes of neurologic and psychiatric diseases.
          The online database provides access to the Maritime Brain Tissue Bank (MBTB) dataset.
          It aims to enable researchers to explore the MBTB dataset and select possible cases for tissue requests.
        </p>
        <p>
          The dataset contains demographic, relevant clinical history and neuropathological information.
        </p>
        <p>
          Identification of the brain or related information is done only through a unique MBTB number. MBTB ensures the anonymity and confidentiality of all its donors.  Only relevant demographic, clinical and neuropathological information, including neuropathology images is released to researchers.  Any reports or publications arising from research at the MBTB and elsewhere will not identify individual donors or their family members.
        </p>
        <p>
          In time, each case will be accompanied with digitized neuropathology slides.
        </p>
    </div>
  </div>

  <div class="col-sm-3 col-md-offset-1">
    <div class="row">
      <h2 class="heading_title">External Links</h2>
        <div>
          <a href="http://braintissuebank.dal.ca/">Maritime Brain Tissue Bank</a>
        </div>
        <div>
          <a href="https://medicine.dal.ca/research-dal-med/facilities/cores_program.html">CORES</a>
        </div>
        <div>
          <a href="http://cbrain.ca/">CBRAIN</a>
        </div>
        <div>
          <a href="http://loris.ca/">LORIS</a>
        </div>
      </div>

    <div class="row">
      <h2 class="heading_title">Contact</h2>
      <h4 class="heading_title">Maritime Brain Tissue Bank</h4>
      <p>
        <div>Faculty of Medicine</div>
        <div>Dalhousie University</div>
        <div>Halifax, Nova Scotia  B3H 4R2</div>
        <div>Phone: (902) 494-4130 </div>
      </p>
      <div>
        <a href="http://braintissuebank.dal.ca/contact">
          MBTB Contact Form
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <i>
    This website was funded by the <a href="https://www.innovation.ca/">Canada Foundation for Innovation</a> and the
    Dalhousie Medical Research Foundation's <a href="https://dmrf.ca/molly-appeal/">Molly Appeal for Medical Research</a>.
  </i>
</div>

<br><br>
