<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Log In</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="login.js"></script>
</head>
<body>
<h1><span class="glyphicon glyphicon-user"></span> Sign in to MBTB Database</h1>
<div ng-app="app" ng-controller="mycontroller" class="container">
    <form name="myform">
        <div class="log-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email" type="email" name="email" ng-model="user.username" required
                               class="form-control">
                        <div ng-show="myform.email.$error.email" class="error">Invalid Email</div>
                        <div ng-show="myform.email.$error.required  &amp;&amp; myform.email.$touched" class="error">
                            Required
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input id="password" type="password" name="pass" ng-model="user.password" required
                               class="form-control">
                        <div ng-show="myform.pass.$error.required &amp;&amp; myform.pass.$touched" class="error">
                            Required
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <button ng-disabled="myform.$invalid" class="btn btn-primary pull-right">Login</button>
                        <p>Do not have an account?
                            <a href="signup.ejs">Register</a>
                        </p>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div ng-show="showError" class="alert alert-danger">Incorrect password</div>
                        <div ng-show="showSuccess" class="alert alert-successful">Success</div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>
