<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MBTB database User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MBTB dataset homepage nav</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="menu.css">
</head>
<body>

<div class="jumbotron text-center">
    <h1>Maritime Brain Tissue Bank Dataset</h1>
</div>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">MBTB</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="homepage.html">Homepage</a></li>
            <li><a href="#">Dataset</a></li>
            <li><a href="#">Analysis</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="signup.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
        </ul>
    </div>
</nav>

</body>
</html>