.jumbotron{
    color: cornflowerblue;
    background-color: white;
}

.navbar.navbar-default {
    background-color: cornflowerblue;
    border-color: aliceblue;
}

.navbar.navbar-default .navbar-brand {
    color: aliceblue;
}

.navbar.navbar-default .navbar-brand:hover,
.navbar.navbar-default .navbar-brand:focus {
    color: #b2b2b2;
}

.navbar.navbar-default .navbar-nav > li > a {
    color: ghostwhite;
    font-size: large;
}

.navbar.navbar-default .navbar-nav > li > a:hover,
.navbar.navbar-default .navbar-nav > li > a:focus {
    color: #b2b2b2;
}

