<title><%= msg_title %></title>
<div class="container-fluid message_container" >
    <h2 class="heading_title" id="message_title"><%= msg_title %></h2>
    <br>

    <p>
        <%= msg_body %>
    </p>

</div>
