<div ng-app="suspend_user_with_reason_app" ng-controller="suspend_user_with_reason_controller"
     class="container-fluid suspend_reason_container">
    <h2 class="heading_title">Suspend User Form</h2>
    <br>
    <form id="suspend_user_form">
        <div class="form-group">
            <label for="reason">Suspend Reason</label>
            <textarea id="reason" name="reason" class="form-control" ng-model="suspend_reason"></textarea>
            <span ng-show="!suspend_reason">This field is required.</span>
        </div>
    </form>
    <script>
        // binding data received from sails controller to JS variable to pass it to angular
        var requests_ids_ = <%- JSON.stringify(requests_ids) %>;

    </script>

    <br>
    <br>

    <div class="form-group button_holder">
        <div class="col" id="cancel_btn">
            <button class="btn btn-primary" ng-click="confirmClick()" id="suspend_confirm"
                    ng-disabled="!suspend_reason">Confirm
            </button>
            <a href="/view_current_users" class="btn btn_space">Cancel</a>
        </div>
    </div>

</div>


