<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Term of use</title>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="menu.css">
</head>
<body>
<div class="jumbotron text-center">
    <h1>Maritime Brain Tissue Bank Dataset</h1>
</div>

<div class="container-fluid">
    <h2>Terms of use</h2>
    <strong>Last updated: September 26, 2019</strong>
    <p>Maritime Brain Tissue Bank Database (“we”, “our”) uses personal information only for identifying users and access
        control. By using the website, you agree to the information collection in accordance with our privacy
        policy.</p>
    <h3>Information collection and usage</h3>
    <p>We ask you to provide personal information. The personal information will be used to contact or identify you.
        When
        you first register the website, we collect personal information includes:

        name, username, email address

        password with your account

        institution, department, position and address
    </p>


    <h3>Log data</h3>
    <p>We collect information that your browser sends when you visit our website.</p>


    <h3>Cookies</h3>
    <p>Cookies are text sent by your browser. When you access and use the database, we may use cookies to enable
        functions
        of the website.</p>

    <h3>Security</h3>
    <p>We will protect your personal information, but we cannot guarantee 100% secure.</p>

    <h3>Changes</h3>
    <p> The privacy policy is effective on (Date). We reserve the right to change this privacy policy. You accept the
        policy
        by continuing using the website after we change the policy.</p>

    <h3>Contact Us</h3>
    <p>If you have any questions about privacy policy, please contact us.</p>
</div>


</body>
</html>