<title>Terms of use</title>
<div class="container-fluid terms_container">
    <h2 class="heading_title">Terms of use</h2>
    <strong>Last updated: November 15, 2019</strong>
    <p>
        Maritime Brain Tissue Bank Database (“we”, “our”) uses personal information only for identifying users and access
        control. By using the website, you agree to the information collection in accordance with our privacy
        policy.
    </p>
    <br>

    <h3 class="heading_title">Information collection and usage</h3>
    <p>
        We ask you to provide personal information. The personal information will be used to contact or identify you.
        When you first register with the website, we collect personal information, including:
        name, username, email address password with your account institution, department, position and address
    </p>

    <h3 class="heading_title">Log data</h3>
    <p>
        We collect information that your browser sends when you visit our website.
    </p>

    <h3 class="heading_title">Cookies</h3>
    <p>
        Cookies are text sent by your browser. When you access and use the database,
        we may use cookies to enable functions of the website.
    </p>

    <h3 class="heading_title">Security</h3>
    <p>
        We will protect your personal information, but we cannot guarantee that it is 100% secure.
    </p>

    <h3 class="heading_title">Changes</h3>
    <p>
        The privacy policy is effective on (Date). We reserve the right to change this privacy policy.
        You accept the policy by continuing using the website after we change the policy.</p>

    <h3 class="heading_title">Contact Us</h3>
    <p>
        If you have any questions about the privacy policy, please contact us.
    </p>
</div>
