<title>Tissue Requests</title>
<div class="container-fluid tissue_requests_terms_container" >
    <h2 class="heading_title" id="message_title">Tissue Requests</h2>
    <br>

    <p>
        All requests undergo a review process. Upon approval, the tissue requested will be shipped to your laboratory as soon as conveniently possible.
        The cost of shipping will be assumed by the recipient. There is also a $75/hr cost recovery fee.
    </p>

    <p>
        Please download the tissue request template and enter the required information for your selected cases, including MBTB code, neuropathological diagnosis, age, sex and preservation method (formalin fixed or fresh frozen).
        For each case, please indicate which region(s) of the tissue you are requesting.
        In the appropriate column, please indicate the size of tissue (cm x cm x cm) for formalin fixed tissue or weight (g) for fresh frozen.
    </p>

    <p>
        Once the complete tissue request application has been received, MBTB staff will confirm case and brain region availability.
    </p>

    <p>
        The MBTB does not knowingly distribute unknown infectious specimens. The MBTB, however, does not guarantee that any of the donors of specimens were not exposed to or infected by potentially transmissible infectious agents.
        Ultimately, it is the responsibility of the recipient investigator to ensure that all their laboratory staff practice safe techniques in handling specimens.
    </p>

    <p>
        <i>
            By clicking on proceed button, I have read all terms and conditions.
        </i>
    </p>
    <br>
    <div class="row container-fluid button_holder">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <a href="/tissue_requests_form" class="btn btn-primary" id="edit_btn">Proceed</a>
            <a href="/" class="btn btn_space">Cancel</a>
        </div>
    </div>

</div>
