<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="menu.css">
</head>
<body>
<div class="jumbotron text-center">
    <h1>Maritime Brain Tissue Bank Dataset</h1>
</div>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">MBTB</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="homepage.html">Homepage</a></li>
            <li><a href="#">Dataset</a></li>
            <li><a href="#">Analysis</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Log Out </a></li>
        </ul>
    </div>
</nav>

<h1 class="jumbotron text-center">Upload data to MBTB database</h1>
<div class="container">


    <form>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="mbtbcode">MBTB code</label>
                    <input id="mbtbcode" type="text" class="form-control" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="sex">Sex</label>
                    <select id="sex" class="form-control">
                        <option selected>Choose...</option>
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="age">Age</label>
                    <input id="age" type="number" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="race">Race</label>
                    <input id="race" type="text" class="form-control">
                </div>
            </div>

            <!--id to be determined-->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="cause_of_death">Cause of death</label>
                    <input id="cause_of_death" type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="post">Post-mortem Interval (hrs)</label>
                    <input id="post" type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="brain_weight">Brain weight (g)</label>
                    <input id="brain_weight" type="number" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="time_in_fix">Time in fix (days)</label>
                    <input id="time_in_fix" type="number" class="form-control">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="diagnosis">Neuropathological diagnosis</label>
                    <select id="diagnosis" class="form-control">
                        <option>Choose...</option>
                        <option>ALCOHOLIC CEREBELLAR DEGENERATION</option>
                        <option>AMYOTROPHIC LATERAL SCLEROSIS</option>
                        <option>ALZHEIMER'S DISEASE</option>
                        <option>BRAIN TUMOUR</option>
                        <option>CEREBELLAR CORTICAL DEGENERATION</option>
                        <option>CHRONIC MENIGOENCEPHALITIS</option>
                        <option>CORTICOBASALGANGLIONIC DEGENERATOIN</option>
                        <option>DOWN'S SYNDROME</option>
                        <option>FAHR'S DISEASE</option>
                        <option> FAMILIAL ALZHEIMER'S DISEASE</option>
                        <option>FRONTOTEMPORAL DEMENTIA</option>
                        <option>HUNTINGTON DISEASE</option>
                        <option>HYPOXIC ISCHEMIC ENCEPHALOPATHY</option>
                        <option>KORSAKOFF'S DISEASE</option>
                        <option>KUFS DISEASE</option>
                        <option> LEWY BODY DISEASE</option>
                        <option>METABOLIC ENCEPHALOPATHY</option>
                        <option> MULTIFOCAL AXONAL DYSTROPHY</option>
                        <option>MULTIPLE SCLEROSIS</option>
                        <option> MULTIPLE SYSTEM ATROPHY</option>
                        <option>NEURONAL STORAGE DISORDER</option>
                        <option> NORMAL</option>
                        <option> PARKINSON'S DISEASE</option>
                        <option> PRIMARY LATERAL SCLEROSIS</option>
                        <option>PROGRESSIVE SUBCORTICAL GLIOSIS</option>
                        <option>PROGRESSIVE SUPRANUCULEAR PALSY</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="detail">Neuropathology; Detailed </label>
                    <textarea id="detail" rows="5" class="form-control"></textarea>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="gross">Neuropathology; Gross </label>
                    <textarea id="gross" rows="5" class="form-control"></textarea>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="micro">Neuropathology; Micro </label>
                    <textarea id="micro" rows="5" class="form-control"></textarea>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="criteria">Neuropathology Criteria </label>
                    <textarea id="criteria" rows="5" class="form-control"></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="CERAD">CERAD </label>
                    <input id="CERAD" type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="BRAAK stage">BRAAK Stage </label>
                    <input id="BRAAK stage" type="number" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="kha">KHACHATURIAN </label>
                    <input id="kha" type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="ABC">ABC </label>
                    <input id="ABC" type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="type_of_autopsy">Type of Autopsy </label>
                    <input id="type_of_autopsy" type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="tissuetype">Tissue Type </label>
                    <input id="tissuetype" type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="storagemethod">Storage method </label>
                    <select id="storagemethod" class="form-control">
                        <option selected>Choose...</option>
                        <option>Formalin fixed</option>
                        <option>Fresh frozen</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="sampleimage1">Upload Images</label>
                    <input type="file" class="form-control-file" id="sampleimage1">
                </div>
            </div>

        </div>
        <div class="form-group">
            <button class="btn btn-primary">Submit</button>
            <button>Cancel</button>
        </div>

    </form>
</div>
</body>
</html>