<title>View Record</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


<div ng-app="view_single_record_app" ng-controller="view_single_record_controller"
     class="container-fluid single_record_container">

    <h2 class="heading_title">View Record</h2>
    <br>

    <div class="row">

        <div class="col-md-8">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Parameter</th>
                    <th>Detail</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="detail in details track by $index">
                    <th scope="row">ID</th>
                    <td>{{detail.id}}</td>
                </tr>

                <tr ng-repeat="detail in details track by $index">
                    <th scope="row">Race</th>
                    <td>{{detail.race}}</td>
                </tr>

                <tr ng-repeat="detail in details track by $index">
                    <th scope="row">Diagnosis of Dementia</th>
                    <td>{{detail.diagnosis_of_dementia}}</td>
                </tr>

                <tr ng-repeat="detail in details track by $index">
                    <th scope="row">Duration of Dementia</th>
                    <td>{{detail.duration_of_dementia}}</td>
                </tr>

                <tr ng-repeat="detail in details track by $index">
                    <th scope="row">Clinical History</th>
                    <td>{{detail.clinical_history}}</td>
                </tr>

                <tr ng-repeat="detail in details track by $index">
                    <th scope="row">Cause of Death</th>
                    <td>{{detail.cause_of_death}}</td>
                </tr>

                <tr ng-repeat="detail in details track by $index">
                    <th scope="row">Brain Weight (g)</th>
                    <td>{{detail.brain_weight}}</td>
                </tr>

                <tr ng-repeat="detail in details track by $index">
                    <th scope="row">Neuropathology Detailed</th>
                    <td>{{detail.neuropathology_detailed}}</td>
                </tr>

                <tr ng-repeat="detail in details track by $index">
                    <th scope="row">Neuropathology Gross</th>
                    <td>{{detail.neuropathology_gross}}</td>
                </tr>

                <tr ng-repeat="detail in details track by $index">
                    <th scope="row">Neuropathology Micro</th>
                    <td>{{detail.neuropathology_micro}}</td>
                </tr>

                <tr ng-repeat="detail in details track by $index">
                    <th scope="row">Neuropathology Criteria</th>
                    <td>{{detail.neuropathology_criteria}}</td>
                </tr>

                <tr ng-repeat="detail in details track by $index">
                    <th scope="row">CERAD</th>
                    <td>{{detail.cerad}}</td>
                </tr>

                <tr ng-repeat="detail in details track by $index">
                    <th scope="row">Braak Stage</th>
                    <td>{{detail.braak_stage}}</td>
                </tr>

                <tr ng-repeat="detail in details track by $index">
                    <th scope="row">KHACHATURIAN</th>
                    <td>{{detail.KHACHATURIAN}}</td>
                </tr>

                <tr ng-repeat="detail in details track by $index">
                    <th scope="row">ABC</th>
                    <td>{{detail.abc}}</td>
                </tr>

                <tr ng-repeat="detail in details track by $index">
                    <th scope="row">Autopsy Type</th>
                    <td>{{detail.autopsy_type}}</td>
                </tr>

                <tr ng-repeat="detail in details track by $index">
                    <th>Tissue Type</th>
                    <td>{{detail.tissue_Type}}</td>
                </tr>

            </table>
        </div>


        <div>
            <div class="col-md-4">
                <h4 class="heading_title">Brain Images</h4>
                <div class="thumbnail">
                    <div class="zoom">
                        <div>
                            <img src="images/sample1.jpeg" alt="sample image 1">
                            <div class="image_caption">Side View</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="zoom">
                        <figure>
                            <img src="images/sample2.jpg" alt="sample image 2">
                            <div>Top View</div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

