.table {
    position: relative;
    left: 20px;
    width: 95%;
}

.table > thead > tr > th {
    vertical-align: middle;
}

.margin-bottom-basic {
    margin-bottom: 15px;
}

.pagination {
    margin: 0;
}

.items-per-page {
    margin-left: 15px;
}

.sortable:after {
    font: 14px/1 FontAwesome;
    content: "\f0dc";
}

.sortable.sort-ascent:after {
    content: '\f0de';
    vertical-align: bottom;
}

.sortable.sort-descent:after {
    content: "\f0dd";
    vertical-align: top;
}

.items {
    position: relative;
    left: 20px;
}

.jumbotron {
    color: cornflowerblue;
    background-color: white;
}

.navbar.navbar-default {
    background-color: cornflowerblue;
    border-color: aliceblue;
}

.navbar.navbar-default .navbar-brand {
    color: aliceblue;
}

.navbar.navbar-default .navbar-brand:hover,
.navbar.navbar-default .navbar-brand:focus {
    color: #b2b2b2;
}

.navbar.navbar-default .navbar-nav > li > a {
    color: ghostwhite;
    font-size: large;
}

.navbar.navbar-default .navbar-nav > li > a:hover,
.navbar.navbar-default .navbar-nav > li > a:focus {
    color: #b2b2b2;
}

