<title>View Data Guide</title>
<div class="container-fluid data_guide_container">
    <h2 class="heading_title">View Data Guide</h2>
    <br>

    <div class="data_guide_content">
        <br>

        <ul>
            <p>
            <li>
                Once the dataset has been filtered according to your requirements, please download the csv file.
                Depending on your research criteria and if your study involves more than one diagnosis, it may be necessary to generate multiple csv files.
            </li>
            </p>
            <p>
            <li>
                The detailed records for each case can be viewed by clicking on the MBTB Code.
                Please remove cases from the csv file that do not match your criteria.
            </li>
            </p>

        </ul>
    </div>
</div>
