.table {
    position: relative;
    left: 40px;
    width: 95%;
    font-size: 16px;
}

.table > thead > tr > th {
    vertical-align: middle;

}


.jumbotron {
    color: cornflowerblue;
    background-color: white;
}

.navbar.navbar-default {
    background-color: cornflowerblue;
    border-color: aliceblue;
}

.navbar.navbar-default .navbar-brand {
    color: aliceblue;
}

.navbar.navbar-default .navbar-brand:hover,
.navbar.navbar-default .navbar-brand:focus {
    color: #b2b2b2;
}

.navbar.navbar-default .navbar-nav > li > a {
    color: ghostwhite;
    font-size: large;
}

.navbar.navbar-default .navbar-nav > li > a:hover,
.navbar.navbar-default .navbar-nav > li > a:focus {
    color: #b2b2b2;
}

.thumbnail img {
    height: 250px;
    width: 350px;
}

.zoom {
    padding: 50px;
    transition: transform .2s ease-in-out;
    /*width: 50%;
    height: 200px;*/
    margin: 0 auto;
}

.zoom:hover img {
    position: relative;
    top: -25px;
    left: 25px;
    transform: scale(1.5); /* 150% zoom*/
}


