<!DOCTYPE html>
<html>
  <head>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" charset="UTF-8">

    <%/* If you want to discourage search engines from indexing this site, uncomment the following line: */%>
    <%/* <meta name="robots" content="noindex"> */%>


    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!--STYLES-->
    <link rel="stylesheet" href="/dependencies/css/photoviewer.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <div class="container">

      <div class="header_nav_wrapper ">
        <nav class="navbar navbar-default">

            <div class="page-header">
              <h1>Maritime Brain Tissue Bank Database</h1> <!-- heading -->
            </div>

            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/view_data">Dataset</a></li>
              <li><a href="/tissue_requests_terms">Tissue Requests</a></li>
              <li><a href="/faq">FAQ</a></li>
            </ul>

            <% // check for auth token if user is logged in or not %>
            <% if (req.session.auth_token === undefined) { %>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              </ul>
            <% } else if(req.session.auth_token !== undefined && req.session.auth_token.length > 0){%>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout" id="user_logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
              </ul>
            <% }%>

        </nav>
      </div>

      <%- body %>

      <!-- Footer -->
      <footer class="page-footer font-small blue pt-4">
        <div class="footer-copyright text-center py-3">GPL-3.0 ©2019
          <div>
            Developed by <a href="http://braintissuebank.dal.ca/">MBTB</a>
          </div>
        </div>
      </footer>
    </div>


    <!--TEMPLATES-->
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/dependencies/js/photoviewer.js"></script>
    <script src="/js/admin_add_new_data.js"></script>
    <script src="/js/admin_archive_tissue_requests.js"></script>
    <script src="/js/admin_edit_data.js"></script>
    <script src="/js/admin_homepage.js"></script>
    <script src="/js/admin_register_requests.js"></script>
    <script src="/js/admin_tissue_requests.js"></script>
    <script src="/js/admin_view_single_archive_tissue_request.js"></script>
    <script src="/js/admin_view_single_suspended_user.js"></script>
    <script src="/js/admin_view_single_tissue_request.js"></script>
    <script src="/js/admin_view_single_user.js"></script>
    <script src="/js/revert_user_form.js"></script>
    <script src="/js/revert_user_with_reason.js"></script>
    <script src="/js/suspend_user_form.js"></script>
    <script src="/js/suspend_user_with_reason.js"></script>
    <script src="/js/tissue_requests_form.js"></script>
    <script src="/js/user_login.js"></script>
    <script src="/js/user_registration.js"></script>
    <script src="/js/view_data_table.js"></script>
    <script src="/js/view_single_record.js"></script>
    <!--SCRIPTS END-->

  </body>
</html>
